<!DOCTYPE html>
<html>
  <head>
    <title>shopping cart</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/263/263142.png" type="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    
  </body>
</html>
