
.form-inline{
display: flex;
margin-right: 50px;
}
.navbar-brand h2,h4 {
  padding-left: 1em;
  color: blue;
}
.butn a{
  color: beige;
  text-decoration: none;
}
.butn{
  margin-top: 3em;
  background-color: #198754;
  display: block;
  border: 2px solid #198754;
  border-radius: 5px;
  padding: 8px;
  margin-left: auto;
  cursor: pointer;
}
.butn:hover{
  background-color: #37e292;
}
.butn:hover>a{
color: rgb(7, 7, 7);
  
  background-color: #37e292;
}
